<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBfvpozT77fO1M2Goe4rMmajCibLCjiwJw</string>
	<key>GCM_SENDER_ID</key>
	<string>144379807586</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>codebreakerz.helpDB</string>
	<key>PROJECT_ID</key>
	<string>helpdb-309df</string>
	<key>STORAGE_BUCKET</key>
	<string>helpdb-309df.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:144379807586:ios:4af6305946189059440e3b</string>
</dict>
</plist>